<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Transacción</title>
</head>
<body>

    <h1>Nueva Transacción</h1>

    <form method="post">

        <label>Descripción:</label>
        <input type="text" name="descripcion" required>

        <label>Monto:</label>
        <input type="number" step="0.01" name="monto" required>

        <label>Categoría:</label>
        <select name="categoria_id" required>
            <option value="">Seleccione una categoría</option>
            {% for c in categorias %}
                <option value="{{ c.id }}">{{ c.descripcion }}</option>
            {% endfor %}
        </select>

        <button type="submit">Guardar</button>
    </form>

    <a href="/transacciones">Volver</a>

</body>
</html>